{% extends "layout.html" %}

{% block content %}
	<table>
		<tr>
			<th>User ID |</th>
			<th>First Name |</th>
			<th>Age</th>
		</tr>
		{% for user in names %}
			<tr>
				<td>{{ user.user_id }}</td>
				<td>{{ user.first_name }}</td>
				<td>{{ user.age }}</td>
			</tr>
		{% endfor %}
	</table>

	<div class="section-content">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">

          Back

        </a>
    </div>

	<div class="section-content">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/delete">

          Delete User

        </a>
    </div>
{% endblock %}